.form {
    label {
        font-weight: 400;
    }

    .form-control {
        font-weight: 300;
    }

    fieldset legend {
        border-bottom: 2px solid $secondary-color;
        width: 100%;
        line-height: 2rem;
    }

    .error-message {
        color: $danger-color;
    }

    input {
        transition: all 1s ease-in;
        border-width: 1px;
        &:focus,
        &:active
        {
            border-width: 2px;
            border-color: $secondary-color;
            box-shadow: none;
        }
    }
}

.required > label:after {
    content: ' *';
    color: #C3232D;
}
