.inner-conversation {
    max-height: 80vh;
    overflow: hidden;
    .list-conversations {
        overflow-y: auto;
        max-height: 100%;
    }

    .flow-convervation {
        overflow-y: auto;
        max-height: 100%;
    }
}

.conversation-link {
    display: block;
    &:hover {
        background-color: $light-color;
    }
}
