.table-wrapper {
    padding: 2em;
    background: $white-color;
    border-radius: 30px;
}

.table {
    th {
        border-top: none;
        color: $primary-color;
    }

    .table__label {
        width: 30%;
        font-weight: bold;
        color: $primary-color;
    }

    &.table-striped {
        tbody {
            tr:nth-of-type(odd) {
                background-color: $light-color;
            }
        }
    }
}

.table-events {
    .media-heading {
        a {
            color: $primary-color;
            font-size: 18px;
        }
    }

    tbody {
        tr {
            transition: background .5s ease-in-out;
            background: transparent;

            &:hover {
                background: lighten($light-color, 2%);
            }
        }
    }

    .event__picture {
        max-width: 100px;
        overflow: hidden;
        margin-right: 30px;
        margin-left: 0;
    }

    .date-from-now {
        font-weight: 300;
        color: $grey-color;
    }
}
