/*
* Colors
*/

// $primary-color: #255957;
$primary-color: #3b426f;
$white-color: #FFFFFF;
// $light-color: #EBEBEB;
// $light-color: #fef0e4;
$light-color: #f2f3f7;
$secondary-color-darken: #A98743;
// $secondary-color: #F7C548;
$secondary-color: #fab57a;
$danger: #a80c28;
$danger-color: #a80c28;
$grey-color: rgb(165, 175, 191);
